@import '../../../scss/variables';
main{
    display: flex;
    @media (max-width:$lg){
        flex-direction: column;
    }

    & .content{

        @media (max-width:$sm){
            width: 100%;
            height: 35rem;
            background-size: contain;
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        
        }

        @media (min-width:$sm){
            width: 100%;
            padding-bottom: $hero-padding-bottom-tablet;
            padding-right: $padding-right;
            padding-top: $hero-padding-top-tablet;
        }
        width: 50%;
        background-color: $green;
        padding-left: $padding-left;
        padding-top: $hero-padding-top;
        padding-right: $hero-padding-right;

        & h1{

            @media (max-width:$sm){
                font-size: $h4;
                text-align: center;
            }
            font-size: $h1;
            color: $white;
        }

        & p{

            @media (max-width:$lg){
                font-weight: $bold;
            }
            padding-top: 6rem;
            font-size: $p;
            color: $white;
        }

        & .download-buttons{
            padding-top: 2rem;
            display: flex;
            align-items: center;
            
        }
    }


    & .photo{

        @media (max-width:$sm){
            height: 35rem;
            width: 100%;
            background-size: cover;
        }

        @media (min-width:$sm){
            width: 100%;
        }
        width: 50%;
        height: 78rem;
        background: url('../../../assets/header-photo.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
}