@import '../../../scss/variables';
main{
    display: flex;
    @media (max-width:$lg){
        flex-direction: column;
    }

    & .content{

        @media (max-width:$lg){
            width: 100%;
            padding-bottom: $hero-padding-bottom-tablet;
            padding-right: $padding-right;
            padding-top: $hero-padding-top-tablet;
        }
        width: 50%;
        background-color: $green;
        padding-left: $padding-left;
        padding-top: $hero-padding-top;
        padding-right: $hero-padding-right;

        & h1{
            font-size: $h1;
            color: $white;
        }

        & p{

            @media (max-width:$lg){
                font-weight: $bold;
            }
            padding-top: 6rem;
            font-size: $p;
            color: $white;
        }

        & .download-buttons{
            padding-top: 2rem;
            display: flex;
            align-items: center;
            
        }
    }


    & .photo{
        @media (max-width:$lg){
            width: 100%;
        }
        width: 50%;
        height: 78rem;
        background: url('../../../assets/header-photo.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
}