@import '../../../scss/variables';

.secondary-benefits{
    @media (max-width:$xl) {
       gap: 2rem;
       padding-left: $secondary-benefits-padding-left-xl;
    }
    padding-top: $secondary-benefits-padding-top;
    padding-bottom: $secondary-benefits-padding-bottom;
    padding-left: $padding-left;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}