@import '../../../scss/variables';

.secondary-benefits{
    padding-top: $secondary-benefits-padding-top;
    padding-bottom: $secondary-benefits-padding-bottom;
    padding-left: $padding-left;
    display: flex;
    align-items: center;
    gap: 12rem;
}