@import '../../../scss/variables';

.secondary-benefits{

    @media (max-width:$sm){
        flex-direction: column;
        padding-left: 4rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
        
    }

    @media (min-width:$sm) {
       gap: 2rem;
       padding-left: $secondary-benefits-padding-left-xl;
    }
    padding-top: $secondary-benefits-padding-top;
    padding-bottom: $secondary-benefits-padding-bottom;
    padding-left: $padding-left;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}