@import '../../../scss/variables';

footer{
    padding-bottom: $footer-padding-bottom;
    

& .footer-wrapper{
    display: flex;
    justify-content: space-around;
    padding-top: $footer-padding-top;
    padding-bottom: $footer-padding-bottom;
    @media (max-width:$sm){
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:4rem;
        text-align: center;
    }
    & .support{ 

        @media (max-width:$sm){
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
        }
        
        & .support-link{
            padding-top: 2rem;
            display: flex;
            align-items: center;
            gap: 2rem;    
        }
    }

    & .downloads{
       
        & .download-buttons{
            @media (max-width:$sm){
                padding-top: 2rem;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2rem;
            }

            display: flex;
            align-items: center;
        }
    }

    & .links{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    & h5{
        font-size: $h5;
    }
}

& .copyright{
    padding-left: $footer-padding-left;
    padding-right: $footer-padding-right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width:$sm){
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap:2rem;
        text-align: center;
    }
    & p{
        font-size: $p;
    }

    & .social-media-links{
        display: flex;
        align-items: center;
        gap: 1rem;
    }

}
}

