@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

/*****************
 * FONT FAMILIES *
 *****************/

$montserrat: 'Montserrat';

/**************
 * FONT SIZES *
 **************/

$navbar-item:1.9rem;
$h1:7.2rem;
$h2:4.8rem;
$h3:3.5rem;
$p:1.8rem;

/****************
 * FONT WEIGHTS *
 ****************/

$thin:100;
$regular:400;
$bold:700;
$extrabold:900;

