@import 'colors';
@import './typography';



/*******************
 * GENERAL PADDING *
 *******************/

$padding-left:8rem;

/****************
 * HERO SECTION *
 ****************/

$hero-padding-top: 10rem;
$hero-padding-right: 2rem;