@import 'colors';
@import './typography';



/*******************
 * GENERAL PADDING *
 *******************/

$padding-left:8rem;


/**************
 * NAVIGATION *
 **************/

 $navigation-padding-top:2rem;
 $navigation-padding-bottom:2rem;


/****************
 * HERO SECTION *
 ****************/

$hero-padding-top: 10rem;
$hero-padding-right: 2rem;

/********************
 * BENEFITS SECTION *
 ********************/

$benefits-padding-top:6rem;
$benefits-padding-bottom:26rem;

/********************
 * GET RIDE SECTION *
 ********************/

 $get-ride-padding-left:10rem;
 $get-ride-padding-top:10rem;

/**********************
 * SECONDARY BENEFITS *
 **********************/

 $secondary-benefits-padding-top:16rem;
 $secondary-benefits-padding-bottom:15rem;


/**********
 * FOOTER *
 **********/

 $footer-padding-top:6rem;
 $footer-padding-bottom:6rem;
 $footer-padding-left:10rem;
 $footer-padding-right:10rem;