@import 'colors';
@import './typography';



/*******************
 * GENERAL PADDING *
 *******************/

$padding-left:8rem;


/**************
 * NAVIGATION *
 **************/

 $navigation-padding-top:2rem;
 $navigation-padding-bottom:2rem;


/****************
 * HERO SECTION *
 ****************/

$hero-padding-top: 10rem;
$hero-padding-right: 2rem;