@import '../../../scss/variables';

.benefits{

    @media(min-width:$sm){
        gap: 4rem;
    }

     @media (max-width:$md){
        padding-right: 4rem;
        padding-bottom: 6rem;;
    }


    @media (min-width:$md){
        padding-bottom: 14rem;
        gap: 4rem;
        padding-right: 4rem;
    }
    padding-top: $benefits-padding-top;
    padding-bottom: $benefits-padding-bottom;
    padding-left: $padding-left;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12rem;
}