@import '../../../scss/variables';

.benefits{
    padding-top: $benefits-padding-top;
    padding-bottom: $benefits-padding-bottom;
    padding-left: $padding-left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}