@import '../../../scss/variables';

nav{
    @media (max-width:$lg){
        padding-left: $nav-padding-tablet-left;
    }
    position: relative;
    padding-top: $navigation-padding-top;
    padding-bottom: $navigation-padding-bottom;
    padding-left: $padding-left;
    display: flex;
    align-items: center;
    gap: 4rem;

    ul{
        @media (max-width:$md){
            display: none;
        }
        display: flex;
        align-items: center;
        gap: 4rem;
    }

    & .menu-toggle{
        @media (max-width:$md){
            display: block;
        }
        display: none;
        font-size: xx-large;
        cursor: pointer;
        position: absolute;
        right: 2rem;
        color: $green;
    }
}